<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExamenFinal.MVC</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            background-color: #f0f0f0;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }

        .navbar {
            background-color: #d1ecf1;
        }

        .navbar-nav .nav-link {
            font-size: 1.5rem;
            transition: color 0.3s ease;
        }

            .navbar-nav .nav-link:hover {
                color: #0056b3;
            }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="~/Home/Index">
                <img src="https://seeklogo.com/images/I/innova-schools-logo-2789DC3FA5-seeklogo.com.png" alt="Logo" style="height: 100px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="~/Home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="~/Alumnos/Index">Alumnos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="~/Matricula/Index">Matricula</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="~/Notas/Index">Notas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content container-fluid">
        @RenderBody()
    </div>
    <footer class="border-top footer text-muted mt-auto">
        <div class="container">
            &copy; 2024 - Todos los derechos reservados © - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
