@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos al portal de Innova Schools</h1>
    <p>Para más información visite nuestra página oficial <a href="https://www.innovaschools.edu.pe">Innova Schools</a>.</p>
</div>

<div class="d-flex justify-content-center align-items-center mt-4">
    <img src="https://greenfinancelac.org/wp-content/uploads/2019/09/twittercard-12.jpg" alt="Imagen Innova" class="img-fluid">
</div>
