@{
    ViewData["Title"] = "Matricula";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            background-color: #f0f0f0;
        }

        .container {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .container img {
                max-width: 100%;
                max-height: 100%;
            }

        }
    </style>
</head>
<body>
    <div class="container">
        <img src="https://blogs.upm.es/gisci/wp-content/uploads/sites/15/2023/06/mantenimiento.png" />
    </div>
</body>
</html>